cicd-worldtime/src/main/mule/cicd-worldtime.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1d1bf0a4-14d0-498e-9ab6-ec5a3889667e" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1cf29ab6-a144-4148-a531-20342de07c38" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="cicd-worldtimeFlow" doc:id="950e393e-60fa-4b43-a108-9b0b88666a78" >
		<http:listener doc:name="Listener" doc:id="e8b38d6d-cba6-4562-aafe-c3b87fdc9bf0" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="3e61bc48-3ab4-440c-bd76-0ca7e7399d06" config-ref="HTTP_Request_configuration" path="/{region}/{city}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c142a579-3c42-44fc-b0d4-c942466e100c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="08a60011-eee7-4bfd-b053-c796f815aad3" message="#[payload]" />
	</flow>
</mule>
